@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>NEX</title>
</head>
<body>
    <section>
         <div class=" contenedor" >
         <div class="formulario" >
             <form action="g"></form>
                 <h2>Iniciar sesion</h2>

                <div class="input-contenedor">
                 <input type="email" placeholder="email"></div>
    
</div>


<div class="input-contenedor">
    <input type="contraseña" placeholder="contraseña"></div>



<div></div>
<button>Acceder</button>

<div class="orvidar" >
    <label for="g">
    
    <a href="g">Olvide la contraseña</a>
    </div>
    

<div class="registar">

    <p>No tengo cuenta <a href="g"> <P> Crear una</P></a>
</div>


</body>
